
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}

.Insights360 {
    font-size: 2em;
    color: white;
    user-select: none;

}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: rgb(7, 7, 7);
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    background: #fff;
    transition: .5s;
    z-index: 100;
}
.navigation a:hover{
    color: black;
    z-index:  102;
}

.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6555e7;
    border-radius:30px;
    z-index: 1;
    transform: scale(0);
    opacity: 0;
    transition: .5s;
}

.navigation a:hover span,
.navigation a.active span{
    transform: scale(1);
    opacity: 0.5;
}

.parallax {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #6555e7;
    text-shadow: 2px 4px 5px #c0d7fb;
}

.parallax img{
    position: absolute;
    top: -155px;;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.parallax img#myicon {
    position: fixed;
    transform: translateX(-1px +300px);
}
.parallax img#graphicon {
    position: fixed;
    transform: translateX(+1px -300px);
}

.sec{
    position: relative;
    background: #6555e7;
    padding: 30px 100px;
}

.sec h2{
    font-size: 3em;
    color: white;
    margin-bottom: 60px;
}
.sec p{
    font-size: 1em;
    color: white;
    font-weight: 300;
    text-align: justify;
}
